web/WEB-INF/wsdl/localhost_8081/CalculadorasWS/CalculadoraPPWSService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="CalcularPP" type="tns:CalcularPP" />

<xs:element name="CalcularPPResponse" type="tns:CalcularPPResponse" />

<xs:complexType name="CalcularPP">
<xs:sequence>
<xs:element name="url" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalcularPPResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>