web/WEB-INF/wsdl/localhost_8084/WStomcat5.5.27/CalculadorasWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="CalculadorasWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:8084/WStomcat5.5.27/CalculadorasWS?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="Test">
<part name="parameters" element="tns:Test"></part>
</message>
<message name="TestResponse">
<part name="parameters" element="tns:TestResponse"></part>
</message>
<message name="CalculaCM">
<part name="parameters" element="tns:CalculaCM"></part>
</message>
<message name="CalculaCMResponse">
<part name="parameters" element="tns:CalculaCMResponse"></part>
</message>
<message name="CalcularPP">
<part name="parameters" element="tns:CalcularPP"></part>
</message>
<message name="CalcularPPResponse">
<part name="parameters" element="tns:CalcularPPResponse"></part>
</message>
<message name="CalculaB">
<part name="parameters" element="tns:CalculaB"></part>
</message>
<message name="CalculaBResponse">
<part name="parameters" element="tns:CalculaBResponse"></part>
</message>
<message name="CalcularCG">
<part name="parameters" element="tns:CalcularCG"></part>
</message>
<message name="CalcularCGResponse">
<part name="parameters" element="tns:CalcularCGResponse"></part>
</message>
<message name="CalculaNE">
<part name="parameters" element="tns:CalculaNE"></part>
</message>
<message name="CalculaNEResponse">
<part name="parameters" element="tns:CalculaNEResponse"></part>
</message>
<portType name="CalculadorasWS">
<operation name="Test">
<input message="tns:Test"></input>
<output message="tns:TestResponse"></output>
</operation>
<operation name="CalculaCM">
<input message="tns:CalculaCM"></input>
<output message="tns:CalculaCMResponse"></output>
</operation>
<operation name="CalcularPP">
<input message="tns:CalcularPP"></input>
<output message="tns:CalcularPPResponse"></output>
</operation>
<operation name="CalculaB">
<input message="tns:CalculaB"></input>
<output message="tns:CalculaBResponse"></output>
</operation>
<operation name="CalcularCG">
<input message="tns:CalcularCG"></input>
<output message="tns:CalcularCGResponse"></output>
</operation>
<operation name="CalculaNE">
<input message="tns:CalculaNE"></input>
<output message="tns:CalculaNEResponse"></output>
</operation>
</portType>
<binding name="CalculadorasWSPortBinding" type="tns:CalculadorasWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="Test">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="CalculaCM">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="CalcularPP">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="CalculaB">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="CalcularCG">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="CalculaNE">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="CalculadorasWSService">
<port name="CalculadorasWSPort" binding="tns:CalculadorasWSPortBinding">
<soap:address location="http://localhost:8084/WStomcat5.5.27/CalculadorasWS"></soap:address>
</port>
</service>
</definitions>